function безНиктоТест() {
  безНикто = 1
  if (true) {
    безНикто = 2  // та же переменная!
    console.log(безНикто);  // 2
  }
  console.log(безНикто);  // 2
}
безНиктоТест()
console.log(безНикто) // 2
