.article {
    display: none;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 90px 10%;
}

/*** toggle ***/
.toggle .article {
    display: block;
}
@media all and (min-width: 760px) {
    .article {
        display: flex;
        padding: 0;
        position: relative;
        opacity: 0;
        visibility: hidden;
        height: 0;
        min-height: 0;
        overflow: hidden;

        /*** transition ***/
        transition: opacity var(--animation-bg) ease var(--animation-bg);
    }
}

/*** toggle ***/
@media all and (min-width: 760px) {
    .toggle .article {
        display: flex;
        opacity: 1;
        visibility: visible;
        height: auto;
        min-height: 100vh;
        overflow: visible;

        transform-style: preserve-3d; /* parallax */
    }
}

.article__about {
    background: url("../img/s1-tanks_res.webp") no-repeat left bottom / 115% auto;
}
@media all and (min-width: 760px) {
    .article__about {
        background: none;
        z-index: 1;
    }
}
@media all and (min-width: 760px) {
    .art-rock-l {
        background: url("../img/s1-rock-left.webp") no-repeat 0 0;
        bottom: 0;
        height: 258px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 40vh;
    }
}
@media all and (min-width: 760px) {
    .art-rock-r {
        background: url("../img/s1-rock-right.webp") no-repeat right 0;
        bottom: 0;
        height: 338px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
    }
}
.art-tanks {
    display: none;
}
@media all and (min-width: 760px) {
    .art-tanks {
        background: url("../img/s1-tanks.webp") no-repeat left 50% / contain;
        display: block;
        height: 802px;
        left: 0;
        bottom: 0;
        margin: auto;
        max-width: 1461px;
        position: absolute;
        right: -15%;
        top: 15vh;
        z-index: 1;
    }
}

.article__teamplay {
    background: url("../img/s2-tank_res.webp") no-repeat left bottom / 90% auto;
}
@media all and (min-width: 760px) {
    .article__teamplay {
        background: none;
        z-index: 2;
    }
}
@media all and (min-width: 760px) {
    .art-tank-back {
        background: url("../img/s2-tank-remote.webp") no-repeat left 50% / contain;
        height: 275px;
        left: 0;
        max-width: 848px;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 14vh;
        width: 67vw;
    }
}
@media all and (min-width: 760px) {
    .art-tank-fw {
        background: url("../img/s2-tank.webp") no-repeat left 50% / contain;
        height: 536px;
        left: 0;
        max-width: 1656px;
        margin: 0 auto;
        position: absolute;
        right: 0;
        bottom: -22vh;
        z-index: 3;
    }
}

@media all and (min-width: 760px) {
    .article__modes {
        z-index: 3;
    }
}

@media all and (min-width: 760px) {
    .article_content {
        margin: auto;
        max-width: 56%;
        position: relative;
    }
}
@media all and (min-width: 760px) {
    .article_text {
        font-size: 1.5vw;
    }
}
@media all and (min-width: 760px) {
    .article_text {
        column-count: 2;
        position: relative;
        z-index: 2;
    }
}

/*** parallax ***/
@media all and (min-width: 760px) {
    .toggle .parallax-ultra-back {
        transform: translateZ(-80px) scale(1.3);
        z-index: 1;
    }
    .toggle .parallax-back {
        transform: translateZ(-35px) scale(1.2);
        z-index: 2;
    }
    .toggle .parallax-ultra-fore {
        transform: translateZ(40px) scale(.87);
        z-index: 4;
    }
}