function loadUserRepos(username) {
    return new Promise((resolve, reject) => {
        getProfileData(username)
            .then(data => {
                return getRepos(data.repos_url);
            }).then(reposData => {
                resolve(reposData);
            }).catch( err => reject(err) );
    });
}