function someAsyncLogic() {
    const promise = fetch('/some/data/url/');
    promise.then(() => {
        doSomethingComplicated();
    });

    return promise;
}

function main() {
    fetch('/some/data/url/')
        .then(() => { ... })
        .then(() => console.log('Done!'));
}